
body {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   
}

#navPrincipal {
    display: flex;
    justify-content: space-between;
    background-color: #464242;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 11rem;
    padding-right: 11rem;

}

#olaMundo {
    text-transform: uppercase;
    font-variant:small-caps ;
    font-size: 1.75em;
    font-weight: 700;
    line-height: 55px;
}

#linksHeader {
    
}

#linksHeader a {
    text-transform: uppercase;
    font-weight: 700;
    margin: 10px;
    padding: 10px;
}

#navPrincipal * {
    color: white;
    display: inline-block;
    
}

#perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    background-color: #acacac;

}

#imagemPerfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#nomeGrande {
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

#divisor {
    display: flex;
    align-items: center;
}

#divisor .traco {
    width: 200px;
    height: 5px;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
}

#divisor .estrela {
    width: 30px;
}

#divisor * {
    display: inline-block;
}

/* 
<div id="divisor">
    <div class="traco"></div>
    <div class="estrela"></div>
    <div class="traco"></div>
    */

