<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="style.css" />
    <title>Elisa Morais</title>
</head>
<body>
    <nav id="navPrincipal">
        <a href="#" id="olaMundo">Olá, Mundo!</a>
        <div id="linksHeader">
            <a href="#">Experiência</a>
            <a href="#">Sobre</a>
            <a href="#">Contato</a>
        </div>
    </nav>
    <div id="perfil" class="sessao">
        <img id="imagemPerfil" src="pp.jpg">
        
        <h1 class="nomeGrande">Elisa Morais</h1>
        
        <div class="divisor">
            <div class="traco"></div>
            <img src="estrela.svg" class="estrela">
            <div class="traco"></div>
        </div>
        <h2 id="textinho">Estudante de Análise e Desenvolvimento de Sistemas.</h2>
    </div>
    
    <div id="experiencia" class="sessao">
        <h1>Experiências</h1>

        <div class="divisor">
            <div class="traco"></div>
            <img src="estrela.svg" class="estrela">
            <div class="traco"></div>
        </div>

        <div class="imagens">
            <img src="https://via.placeholder.com/350x350">
            <img src="https://via.placeholder.com/350x350">
            <img src="https://via.placeholder.com/350x350">
            <img src="https://via.placeholder.com/350x350">
            <img src="https://via.placeholder.com/350x350">
        </div>
    </div>

    <div id="sobre" class="sessao">
        <h1>Sobre</h1>

        <div class="divisor">
            <div class="traco"></div>
            <img src="estrela.svg" class="estrela">
            <div class="traco"></div>
        </div>

        <div class="texto">
            <p class="coluna">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis aspernatur debitis ipsum eaque officia, suscipit provident laborum nulla veritatis. Magnam error provident harum sed qui veniam illum quam iusto. Itaque.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis aspernatur debitis ipsum eaque officia, suscipit provident laborum nulla veritatis. Magnam error provident harum sed qui veniam illum quam iusto. Itaque.
            </p>
            <p class="coluna">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis aspernatur debitis ipsum eaque officia, suscipit provident laborum nulla veritatis. Magnam error provident harum sed qui veniam illum quam iusto. Itaque.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis aspernatur debitis ipsum eaque officia, suscipit provident laborum nulla veritatis. Magnam error provident harum sed qui veniam illum quam iusto. Itaque.
            </p>
        </div>
    </div>

    <div id="contato" class="sessao">
        <h1>Contato</h1>

        <div class="divisor">
            <div class="traco"></div>
            <img src="estrela.svg" class="estrela">
            <div class="traco"></div>
        </div>

        <div class="form">
            <form action="#">
                <label for="fname">First name:</label><br>
                <input type="text" id="fname" name="fname" value="John"><br>
                <label for="lname">Last name:</label><br>
                <input type="text" id="lname" name="lname" value="Doe"><br><br>
                <input type="submit" value="Submit">
              </form> 
        </div>
    </div>
</body>
</html>