<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="style.css" />
    <title>Elisa Morais</title>
</head>
<body>
    <nav id="navPrincipal">
        <a href="#" id="olaMundo">Olá, Mundo!</a>
        <div id="linksHeader">
            <a href="#">Tecnologias</a>
            <a href="#">Sobre</a>
            <a href="#">Contato</a>
        </div>
    </nav>
    <div id="perfil" class="sessao">
        <img id="imagemPerfil" src="pp.jpg">
        
        <h1 class="nomeGrande">Elisa Morais</h1>
        
        <div class="divisor">
            <div class="traco"></div>
            <img src="estrela.svg" class="estrela">
            <div class="traco"></div>
        </div>
        <h2 id="textinho">Estudante de Análise e Desenvolvimento de Sistemas.</h2>
    </div>
    
    <div id="experiencia" class="sessao">
        <h1>TECNOLOGIAS</h1>

        <div class="divisor">
            <div class="traco"></div>
            <img src="estrela.svg" class="estrela">
            <div class="traco"></div>
        </div>

        <div class="imagens">
            <img src="html.jpg">
            <img src="js.jpg">
            <img src="css.jpg">
            <img src="node .jpg">
        </div>
    </div>

    <div id="sobre" class="sessao">
        <h1>Sobre</h1>

        <div class="divisor">
            <div class="traco"></div>
            <img src="estrela.svg" class="estrela">
            <div class="traco"></div>
        </div>

        <div class="texto">
            <p class="coluna">
                Sou estudante dos cursos de Análise e Desenvolvimento de Sistemas (Universidade Estácio de Sá) e Gestão Financeira (Faculdades Pitágoras). Tenho 28 anos e moro em Uberlândia - MG. Atuei na área financeira de diversas empresas por mais de 5 anos. Gosto muito do segmento mas decidi inovar e ampliar meus conhecimentos, e assim dei início aos meus estudos em tecnologia. O que mais me chamou atenção sobre o assunto é a possibilidade de poder criar sites, aplicativos e com isso também poder colaborar com a sociedade de uma maneira mais abrangente, pelo intermédio da Internet. Quero aprofundar meus estudos em análise de dados, e assim posso unificar meus conhecimentos em finanças e tecnologia. 
            </p>
        </div>
    </div>

    <div id="contato" class="sessao">
        <h1>Contato</h1>

        <div class="divisor">
            <div class="traco"></div>
            <img src="estrela.svg" class="estrela">
            <div class="traco"></div>
        </div>

        <div class="formulario">
            <form action="#">
                <div class="formItem">
                    <label>Nome:</label>
                    <input type="text"">
                </div>
                <div class="formItem">
                    <label>Email:</label>
                    <input type="text">
                </div>
                <div class="formItem">
                    <label>Mensagem:</label>
                    <input type="text"">
                </div>
                
                
                <button class="formItem" type="submit">Enviar</button>
              </form> 
        </div>
    </div>
</body>
</html>